*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #263C97;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-ffffff: #ffffff;
  --color-7c9cc8: #6c7e95;
  --color-16bcdc: #16bcdc;
  --color-e9e9ed: #e9e9ed;
  --color-d9d9de: #d9d9de;
  --color-bf4800: #bf4800;
  --color-132921: #131921;
}
body {
  font-family: "Rubic", sans-serif;
  background-color: var(--color-e9e9ed);
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}


/* UI Start */
      /* DropdownButtonLanguage start */
      .dropdown select {
        background-color: var(--color-131921);
        border: none;
        color: var(--color-ffffff);
        padding: 0px;
        font-size: 10px;
        cursor: pointer;
      }
      .dropdown select::-ms-expand {
        display: none;
      }
      .dropdown select:focus {
        outline: none;
        border-color: #f5f5f5;
      }
      .dropdown select option {
        background-color: #fff;
        color: #333;
      } 
       /* DropdownButtonLanguage end */


      /* DropdownMenuButton start */
      .dropdown1 select{
        width:150px;
        height: 39.5px;
        margin-right: -140px;
        z-index: 1;
        padding-left: 5px;
        border: none;
        background-color: var(--color-e9e9ed);
      }
      input[type="text"] {
        width: 450px;
        height: 40px;
        padding: 8px 150px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 0%;
        font-size: 12px;
      }
      .dropdown1:hover{
        display: block;
      }
      .dropdown1 span{
        width: 35px;
        height: 30px;
        margin-left: -38px;
        border: none;
      }
      .search{
        margin-left: -8px;
        margin-top: -10px;
        color: var(--color-ffffff);
      }
        /* DropdownMenuButton end */

    /* random button start */
      .button{
        background-color: none;
        color: var(--color-ffffff);
        border: 1px solid var(--color-ffffff);
        font-size: 14px;
        font-weight: 500;
        padding: 10px 53px;
        border-radius: 25px;
      }
      .button:hover{
        background-color: var(--color-ffffff);
        color: #232f3e;
      }
      .cart-button{
        background-color: var(--color-16bcdc);
        color: var(--color-ffffff);
        border: none;
        font-size: 9px;
        font-weight: 700;
        padding: 8px 36px;
        border-radius: 60px;
        padding-top: 9px;
      }
      .cart-button:hover{
        background-color: var(--color-232f3e);
        color: var(--color-ffffff);
      }
      .cart-button1{
        background-color: var(--color-16bcdc);
        color: var(--color-ffffff);
        border: none;
        font-size: 9px;
        font-weight: 700;
        padding: 8px 56px;
        border-radius: 60px;
        padding-top: 9px;
      }
      .cart-button1:hover{
        background-color: var(--color-232f3e);
        color: var(--color-ffffff);
      }
      .cart-button2{
        background-color: var(--color-232f3e);
        color: var(--color-ffffff);
        border: none;
        font-size: 9px;
        font-weight: 700;
        padding: 8px 58px;
        border-radius: 60px;
        padding-top: 9px;
        margin-top: 5px;
      }
      .cart-button2:hover{
        background-color: var(--color-bf4800);
        color: var(--color-ffffff);
      }
      .cart-button3{
        background-color: var(--color-16bcdc);
        color: var(--color-ffffff);
        border: none;
        font-size: 12px;
        font-weight: 700;
        padding: 8px 58px;
        border-radius: 2%;
        padding-top: 9px;
        margin-top: 5px;
        text-align: center;
      }
      .cart-button3:hover{
        background-color: var(--color-132921);
        color: var(--color-ffffff);
      }
      .FlashButton{
        background-color: var(--color-16bcdc);
        color: var(--color-ffffff);
        border: none;
        font-size: 9px;
        font-weight: 700;
        padding: 12px 99px;
        border-radius: 60px;
        padding-top: 15px;
        margin-bottom: 20px;
      }
      .FlashButton:hover{
        background-color: var(--color-232f3e);
        color: var(--color-ffffff);
      }

    /* random button end */

    /* Animation start */
    .card-wrapper{
      background-color: #263C97;
      padding: 15px;
      color: var(--color-ffffff);
    }
     /*Animation end  */
      /* UI End */
      
      

/* Header part */
.header-top-strip {
  background-color: var(--color-131921);
}
.header-top-strip .font-clr{
  font-size: 10px;
  color: var(--color-ffffff);
}
.header-top-strip .borderLeft{
  border-right: 1px solid var(--color-7c9cc8);
  padding-right: 35px;
}
.header-top-strip .rightNav{
  display: flex;
  margin-left:100px;
}
.header-top-strip .rightNav__navLink{
  margin-left: 30px;
}
.container-xl{
    border-bottom: 1px solid var(--color-7c9cc8);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .dropdownSearchBar{
  margin-left: 80px;
  margin-right: -80px;
}
.header-upper .input-group-text{
  background-color: var(--color-16bcdc);
  border-radius: 2%;
  display: grid;
}
.header-upper-links {
  display: flex;
  margin-left: 90px;
  column-gap: 10px;
}
.header-upper .header-upper-icons{
  width: 30px;
  height: 30px;
  color: var(--color-ffffff);
}
.header-upper .header-upper-links span{
  color: #576cc3;
  font-weight: 600;
  font-size: smaller;
}
.header-upper .header-upper-links{
  font-size: small;
}
.header-botton{
  background-color: var(--color-131921);
  margin-top: -15px;
}
.header-botton .menu-links a, .menu-bottom p{
  color: var(--color-ffffff);
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-botton .menu-offer{
  font-size: 11px;
  color: var(--color-ffffff);
  margin-left: 370px;
}
/*  Header part end */


/* Home Start Here */
/* Banner container start */
.mainBanner__content {
  top: 25%;
  left: 15%;
}
.mainBanner__content h5{
  font-size: 42px;
  line-height: 44px;
  font-weight: 700;
  color: var(--color-ffffff);
}
.mainBanner__content p{
  font-size: 15px;
  color: var(--color-e9e9ed);
  margin-bottom: 50px;
}
.mainBanner img{
  height: 415px;
  width: 580px;
  object-fit: cover;
}
.smallBanner__content {
  top: 22%;
  left: 10%;
}
.smallBanner__content h5{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-ffffff);
}
.smallBanner__content p{
  margin-top: 16px;
  font-size: 12px;
  color: var(--color-d9d9de);
  margin-left: -10px;
}
.smallBanner{
  width: 48%;
  margin-top: 24px;
}
.smallBanner img{
  height: 195px;
  margin-left: -20px;
  object-fit: cover;
}
/* Banner container end */

/* trending product container start */
  .productCard{
    padding: 15px;
    background-color: var(--color-ffffff);
    border-radius: 6%;
    /* border-top: 1px solid var(--color-3b4149); */
  }
  .productCard .productCard__image img{
        width: 135px;
        height: 120px;
        object-fit: cover;
  }
  .productCard .productCard__details h5{
      font-size: 12px;
      font-weight: 600;
      color: var(--color-16bcdc);
  }
  .productCard .productCard__details p{
    font-size: 14px;
    font-weight: 900;
}
.productCard .productCard__details .product-rating {
  display: flex;
  align-items: first baseline;
}
.productCard .productCard__details .product-rating .star{
   font-size: small;
   margin-right: 10px;
}
.productCard .productCard__details .product-rating .number p{
  font-size: 12px;
  font-weight: 500;
  color: var(--color-7c9cc8);
}
.container .trendingProducts__products{
 display: flex;
 justify-content: space-between;
 align-items: first baseline;
 border-bottom: 1px solid var(--color-d9d9de);
 margin-bottom: 10px;
 margin-bottom: 25px;

}
.trendingProducts{
  margin-top: -20px;
}
.container .trendingProducts__products p, h5{
  margin-bottom: 0px;
  margin-left: -10px;
  padding-bottom: 5px;
}
.container .trendingProducts__products h5{
  margin-bottom: -20px;
  border-bottom: 3px solid var(--color-16bcdc);
  margin-left: -10px;
}
.container .trendingProducts__products .products__seeAll{
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  color: var(--color-7c9cc8)
}
.container .trendingProducts__products .products__seeAll .icons{
  font-size: 9px;
}
.container .trendingProducts__products p{
  font-size: 12px;
  color: var(--color-7c9cc8);
}

/* trending product container end */

/* Flash Deals Container start */
    .flashDealsCard{
        background-color: var(--color-ffffff);
        border-radius: 20px;
    }
    .flashDealsCard .flashDealsCard__Img img{
      width: 250px;
      height: 200px;
      object-fit: cover;
    }
    .flashDealsCard .flashDealsCard__Img .flashDealsCard__Img__something {
      margin-top: 25px;
      margin-left: 25px;
    }
    .flashDealsCard .flashDealsCard__Img .flashDealsCard__Img__something p{
      width: 32px;
      height: 13px;
      background-color: black;
      border-radius: 4px;
      font-size: 9px;
      color: white;
      align-items: center;
      text-align: center;
      padding-top: 1px;
      margin-top: -9px;
    }
    .flashDealsCard .flashDealsCard__data{
      padding: 38px 20px 20px 0px;
    }
    .flashDealsCard .flashDealsCard__data h4{
       color: var(--color-131921);
       font-size: 12px;
       font-weight: 800;
    }
    .flashDealsCard .flashDealsCard__data h5{
      color: var(--color-bf4800);
      font-size: 12px;
      font-weight: 800;
      margin-left: 2px;
   }
   .flashDealsCard .flashDealsCard__data .description{
      font-size: 12px;
      color: var(--color-7c9cc8);
      margin-top: 15px;
   }
   .flashDealsCard .flashDealsCard__data .sold{
    font-size: 15px;
    outline-offset: var(--color-132921);
    font-weight: 700;
   }
    .flashDealsCard .flashDealsCard__data .product-rating {
      display: flex;
      align-items: first baseline;
    }
    .flashDealsCard .flashDealsCard__data .product-rating .star{
       font-size: small;
       margin-right: 10px;
    }
    .flashDealsCard .flashDealsCard__data .product-rating .number p{
      font-size: 12px;
      font-weight: 500;
      color: var(--color-7c9cc8);
    }
    .productBanner{
      margin-top: 44px;
      margin-left: 45px;
    }
    .productBanner img{
      width: 370px;
      height: 155px;
      margin-left: -20px;
      object-fit: cover;
    }
    .productBanner__Content {
      top: 22%;
      left: 10%;
    }
    .productBanner__Content h5{
      font-size: 18px;
      font-weight: 600;
      color: var(--color-bf4800);
    }
    .productBanner__Content p{
      margin-top: 16px;
      font-size: 12px;
      color: var(--color-bf4800);
      margin-left: -10px;
    }
/* Flash Deals Container end */


/* Top Featured Product start */

.smallerFeaturedProducts .flashDealsCard{
  background-color: var(--color-ffffff);
  border-radius: 20px;
  padding-bottom: 6px;
  margin-left: 20px;
  margin-bottom: 15px;
}
.smallerFeaturedProducts .flashDealsCard .flashDealsCard__Img img{
width: 130px;
height: 70px;

/* object-fit: cover; */
}
.smallerFeaturedProducts .flashDealsCard .flashDealsCard__Img .flashDealsCard__Img__something {
margin-top: 25px;
margin-left: 15px;
}

/* Top Featured Product end */

/* Brand Name start */
   .brandName{
    background-color: var(--color-ffffff);
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
   }
   .brandName img{
    width: 100px;
    height: 100px;
    object-fit: cover;
   }

/* Brand Name end */



/* Home end here */

/* Shop start here */

.shop-Products__imageContainer {
  position: relative;
}
.shop-Products__imageContainer  img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.shop-Products__imageContainer .imageContainer__imageText p{
  font-size: 12px;
}

.imageContainer__imageText {
  position: absolute;
  align-items: center;
  text-align: center;
  line-height: 9px;
  top: 50%;
  left: 80%;
  width: 200px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  z-index: 1;
  color: var(--color-ffffff);
}

.shipping-options p{
    color: var(--color-7c9cc8);
}
.layout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-7c9cc8);
  background-color: var(--color-ffffff);
}
.layout .pera{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
.layout .pera p{
  margin-top: 15px;
} 
   /* Categories card start */
   
    .categories{
      background-color: var(--color-ffffff);
      border-radius: 2%;
      padding: 30px 40px 15px 40px;
    }
    .categories .categories__checkbox{
    margin-left: -10px;
    margin-top: 15px;
    }
    .categories .categories__borderLine{
    border-bottom: 1px solid var(--color-d9d9de);
    margin-bottom: 10px;
    }
    .categories .categories__borderLine h5{
    border-bottom: 2px solid var(--color-16bcdc);
    width: fit-content;
    font-size: 18px;
    font-weight: 700;
    }
    .categories__checkbox__container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    color: var(--color-7c9cc8);
    }
    .categories__checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    }
    .checkbox__container__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--color-e9e9ed);
    border-radius: 50%;
    border: 1px solid var(--color-7c9cc8);
    }
    .categories__checkbox__container:hover input ~ .checkbox__container__checkmark {
    background-color: var(--color-16bcdc);
    }
    .categories__checkbox__container input:checked ~ .checkbox__container__checkmark {
    background-color: var(--color-16bcdc);
    }
    .checkbox__container__checkmark:after {
    content: "";
    position: absolute;
    display: none;
    }
    .categories__checkbox__container input:checked ~ .checkbox__container__checkmark:after {
    display: block;
    }
    .categories__checkbox__container .checkbox__container__checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid var(--color-e9e9ed);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    }

  /* Categories card end */
  /* Color card start */
      .categories .categories__colorContainer {
        margin-left: -10px;
      }
      .categories .categories__colorContainer .colorContainer__firstLine, .colorContainer__secondLine{
        display: flex;
        
      }
      .categories .categories__colorContainer .colorContainer__firstLine div{
        border-radius: 50%;
        width: 25px;
        height: 25px;
        margin-right: 6px;
        margin-bottom: 5px;
      }
      .categories .categories__colorContainer .colorContainer__secondLine div{
        border-radius: 50%;
        width: 25px;
        height: 25px;
      }
   /* Color card end */

   /* Compare Product Card Start */
        .Compare-product p{
            font-size: 12px;
            color: var(--color-7c9cc8);
        }
    /* Compare Product Card End */
    /* My Wish List Start */
    .categories__myWishList .products{
      display: flex;
    }
    .categories__myWishList .products .products__imgBtn img{
      width: 60px;
      height: 65px;
      object-fit: cover;
    }
    .categories__myWishList .products .products__imgBtn{
     font-size: 12px;
    }
    .categories__myWishList .products .products__listData{
      margin-left: 5px;
      margin-top: 10px;
    }
    .categories__myWishList .products .products__listData h4{
      font-size: 12px;
      font-weight: 800;
      color: var(--color-16bcdc);
    }
    .categories__myWishList .products .products__listData p{
      font-size: 14px;
      font-weight: 600;
      color: var(--color-bf4800);
    }
    .categories__myWishList .cross {
      color: var(--color-7c9cc8);
      margin-top: 5px;
    }
        /* My Wish List end */

  /* Shop Product Card Start */
  
.shop-Products__imageContainer {
  position: relative;
}
.shop-Products__imageContainer  img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.shop-Products__imageContainer .imageContainer__imageText p{
  font-size: 12px;
}

.imageContainer__imageText {
  position: absolute;
  align-items: center;
  text-align: center;
  line-height: 9px;
  top: 50%;
  left: 80%;
  width: 200px;
  height: 100px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  z-index: 1;
  color: var(--color-ffffff);
}
  .shopProductCard{
    padding: 15px;
    background-color: var(--color-ffffff);
    border: 1px solid var(--color-d9d9de);
  }
  .shopProductCard .shopProductCard__productImage img{
        width: 135px;
        height: 120px;
        object-fit: cover;
        margin-left: 15px;
  }
  .shopProductCard .shopProductCard__productDetails h5{
      font-size: 12px;
      font-weight: 600;
      color: var(--color-16bcdc);
      margin-left: 5px;
  }
  .shopProductCard .shopProductCard__productDetails p{
    font-size: 14px;
    font-weight: 900;
    margin-left: 5px;
}
.shopProductCard .shopProductCard__productDetails .productDetails__rating {
  display: flex;
  align-items: first baseline;
  margin-left: 5px;
}
.shopProductCard .shopProductCard__productDetails .productDetails__rating .star{
   font-size: small;
   margin-right: 10px;
}
.shopProductCard .shopProductCard__productDetails .productDetails__rating .number p{
  font-size: 12px;
  font-weight: 500;
  color: var(--color-7c9cc8);
}

/* Shop Product Card End */

/* Shop end Here */

/* Login Start here */
.login{
  text-align: center;
}
.login h2{
  font-size: 34px;
  font-weight: 700;
}
.login h6{
  font-size: 13px;
  /* font-weight: 700; */
  color: var(--color-7c9cc8);
  margin-top: -5px;
}
.login form{
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: var(--color-ffffff);
  border-radius: 2%;
  width: 480px;
  height: 300px;
  padding: 20px 20px;
  margin: auto;
}
.login label{
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 20px;
}
.login h5{
  font-size: 14px;
  color: var(--color-7c9cc8);text-align: end;
}
.login p{
  font-size: 14px;
  color: var(--color-7c9cc8);
  margin-top: 15px;
}
.login span{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-16bcdc);
  cursor: pointer;
}
/* Login End here */

/* MyAccount start here */
  #myAccount{
    height: 430px;
    width: 500px;
    background-color: var(--color-ffffff);
  }
/* MyAccount end here */

/* Favorite start here */
    .wishList{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
   .wishList__items .wishList__items__item{
      text-align: center;
      font-weight: 700;
      background-color: var(--color-ffffff);
      color: var(--color-7c9cc8);
      padding: 20px;
      border: 1px solid var(--color-d9d9de);
   }
   .wishList-Card .wishList-Card__item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-ffffff);
    font-weight: 600;
    border: 1px solid var(--color-d9d9de);
   }
   .wishList-Card .wishList-Card__item img{
    height: 100px;
    object-fit: cover;
    margin-left: -300px;
   }
/* Favorite end here */
   
/* Cart start here */

.wishList  .wishList__price{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-ffffff);
  padding: 20px;
  font-size: 30px;
 }
 .wishList__price__subtotal{
  display: flex;
 }
 .wishList__price__subtotal p{
  margin: 20px;
 }

/* Cart end here */

/* Contact start here */       
.contact .contact__name h1
{
  font-weight: 900;
}
.contact .contact__name  span{
  color: var(--color-131921);
}
.contact .contact__details{
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.contact .contact__details .name{
    font-size: 22px;
    font-weight: 700;
}
/* Contact end here */

/* about start here */
.about .about__text h1 {
  font-weight: 900;
}
.about .about__text span {
  color: #263C97;
}
/* about end here */

/* Faq start here */
  .accordion{
    width: 500;
  }
  .item {
    background-color: var(--color-131921);
    margin-bottom: 5px;
    padding: 10px 20px;
  }
  .title {
    color: #e9e9ed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .content{
    color: var(--color-ffffff);
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
  .show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    color: #f5f5f5;
  }
/* Faq end here */

/* Footer part */



/* footer first part start */
footer{
  background-color: var(--color-232f3e);
}
.footer-top-data {
  margin: auto;
}
.footer-top-data .footer-top-data__card__icons{
  font-size: 30px;
  color: var(--color-16bcdc);
}
.footer-top-data p{
    font-size: 12px;
    font-weight: 700;
}
.footer-top-data span{
  font-size: 12px;
  font-weight: 100;
  color: var(--color-7c9cc8);
}
/* footer first part end */


/* footer second part start */
.footer-middle-data h4{
    font-size: 15px;
    font-weight: 600;
}
.footer-middle-data p{
  color: var(--color-7c9cc8);
  font-size: 12px;
}
.footer-middle-data .app__appStore{
  display: flex;
  border: 1px solid var(--color-7c9cc8);
  border-radius: 2%;
  height: 38px;
}
.footer-middle-data .app__appStore .app-icons{
  font-size: 25px;
}
.footer-middle-data .app__appStore .appStore__borderRight{
  border-right: 1px solid var(--color-7c9cc8);
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-middle-data .app__appStore p{
  font-size: 8px;
  margin-left: -18px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer-middle-data .app__appStore span{
  font-size: 11px;
  font-weight: 600;
  color: var(--color-ffffff);
}
.footer-middle-data .footer-middle-data__app{
  display: flex;
  justify-content: space-between;
}
.footer-middle-data .footer-middle-data__socialMedia div{
  width: 40px;
  height: 40px;
  border-radius: 5%;
}
.footer-middle-data .footer-middle-data__socialMedia .socialMedia__icons {
 margin-left: 12px;
 margin-top: 12px;
}
.pere p{
 margin-top: -10px;
}
.footer-middle-data .all-pere{
  margin-left: 65px;
}
.footer-middle-data .all-pere-2{
  margin-left: -35px;
}
.footer-middle-data .all-pere-3{
  margin-left: -25px;
}
.footer-middle-data input[type="text"] {
  width: 3200px;
  height: 35px;
  padding: 1px 10px;
  font-size: 12px;
}
.footer-middle-data .subscribe-button span{
  width: 95px;
  height: 35px;
  margin-left: -88px;
  border: none;
  color: var(--color-ffffff);
  font-size: 12px;
  background-color: var(--color-16bcdc);
  border-radius: 0%;
  cursor: pointer;
}
/* footer second part end */

/* footer third part start */
.footer-third-data .footer-third-data__payment{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  
}
  .footer-third-data img{
    width: 70px;
    height: 30px;
    margin-top: 5px;
    margin-left: 7px;
  }
  .footer-third-data .tk-logo div {
    width: 90px;
    height: 40px;
    background-color: var(--color-ffffff);
    border-radius: 5%;
    margin-bottom: 30px;
  }
/* footer third part end */

/* footer part end */


/* Responsive for tablet stat here */

@media screen and (max-width: 1200px){
/* header start */
  .header-top-strip__nav__help{
    display: none;
  }
  .rightNav__navLink__us{
    display: none;
  }
  .header-top-strip {
   margin-top: -30px;
  }
  .header-top-strip .borderLeft{
    padding-right: 10px;
  }
  .header-top-strip .rightNav{
    margin-left: 0px;
  }
  .header-top-strip .rightNav__navLink{
    margin-left: 10px;
  }
  .dropdown{
    display: none;
  }
  .header-upper .dropdownSearchBar{
    margin-left: 10px;
    margin-right: -15px;
  }
  .header-upper-links {
    margin-left: 40px;
  }
      .dropdown1 select{
        display: none;
      }
      input[type="text"] {
        width: 300px;
        padding: 0px 15px;
      }
  .gayeb{
    display: none;
  }
  .header-botton{
  padding-top: 10px;
  }
  /* header end */
   /* Banner container start */
.mainBanner__content h5{
  width: 380px;
  height: 90px;
  font-size: 32px;
  margin-left: 2px;
}
.mainBanner__content p{
  margin-top: 20px;
  margin-bottom: 30px;
}
.mainBanner img{
  height: 345px;
  width: 480px;
}
.smallBanner__content h5{
  margin-left: 10px;
}
.smallBanner__content p{
  margin-left: 10px;
}
.smallBanner img{
  height: 160px;
  width: 320px;
  margin-left: 10px;
}
/* Banner container end */


/* trending product container start */
.productCard .productCard__image img{
      margin-left: 25px;
}
.productCard .productCard__details{
  margin-left: 10px;
}
.productCard__button{
  margin-left: 27px;
}
/* trending product container end */
/* Flash Deals Container start */

.productBanner{
display: none;
}
/* Flash Deals Container end */ 

}
@media screen and (max-width: 900px){
  /* header start  */
  .header-upper-links {
    margin-left: 0px;
  }
  .header-upper-links p{
    display: none;
  }
  .header-upper .header-upper-icons{
   padding: 2px;
  }
  .header-upper-links {
    margin-left: 140px;
  }
  /* header end */
}
@media screen and (max-width: 992px){
  .gayeb-2{
    display: none;
  }
  .mainBanner__content h5{
    width: 380px;
    height: 90px;
    font-size: 32px;
    margin-left: 2px;
  }
  .mainBanner__content p{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .mainBanner img{
    width: 700px;
  }
}
@media screen and (max-width: 780px){
  .mainBanner img{
    width: 500px;
  }
  
/* trending product container start */
.productCard .productCard__image img{
  margin-left: 35px;
}
.productCard__button{
margin-left: 37px;
}
/* trending product container end */
}
@media screen and (max-width: 650px){
  /* header start  */
  input[type="text"] {
    width: 200px;
    height: 30px;
  margin-left: 30px;
  }
  .dropdown1 span{
    margin-left: -30px;
  }
  .header-upper-links{
    margin-left: 80px;
  }
  /* header end */
  /* banner start */
  .mainBanner img{
    width: 430px;
  }
 /* banner end*/
 /* trending product container start */
 .productCard {
  width: 230px;
  margin: auto;
 }
.productCard .productCard__image img{
  margin-left: 25px;
}
.productCard__button{
margin-left: 27px;
}
/* trending product container end */
}

@media screen and (max-width: 550px) {
    /* Flash Deals Container start */
.flashDealsCard .flashDealsCard__Img img{
width: 210px;
height: 160px;
}
.flashDealsCard .flashDealsCard__data{
padding: 38px 10px 20px 0px;
}
.FlashButton{
  padding: 12px 49px;
}

/* Flash Deals Container end */ 
}
/* Responsive for tablet end here */
