*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color-131921: #263C97;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-ffffff: #ffffff;
  --color-7c9cc8: #6c7e95;
  --color-16bcdc: #16bcdc;
  --color-e9e9ed: #e9e9ed;
}
body {
  font-family: "Rubic", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-30{
  gap: 30px;
}

/* Header part */
.header-top-strip {
  background-color: var(--color-131921);
}
.header-top-strip .font-clr{
  font-size: 10px;
  color: var(--color-ffffff);
}
.header-top-strip .borderLeft{
  border-right: 1px solid var(--color-7c9cc8);
  padding-right: 35px;
}
.header-top-strip .nav-flex{
  display: flex;
  margin-left:100px;
}
.header-top-strip .navRight{
  margin-left: 30px;
}
.container-xl{
    border-bottom: 1px solid var(--color-7c9cc8);
}
.header-upper{
  background-color: var(--color-131921);
}
.header-upper .dropdownSearchBar{
  margin-left: 80px;
  margin-right: -80px;
}
.header-upper .input-group-text{
  background-color: var(--color-16bcdc);
  border-radius: 2%;
  display: grid;
}
.header-upper-links {
  display: flex;
  margin-left: 90px;
  column-gap: 10px;
}
.header-upper .header-upper-icons{
  width: 30px;
  height: 30px;
  color: var(--color-ffffff);
}
.header-upper .header-upper-links span{
  color: #576cc3;
  font-weight: 600;
  font-size: smaller;
}
.header-upper .header-upper-links{
  font-size: small;
}
.header-botton{
  background-color: var(--color-131921);
  margin-top: -15px;
}
.header-botton .menu-links a, .menu-bottom p{
  color: var(--color-ffffff);
  font-size: 11px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-botton .menu-offer{
  font-size: 11px;
  color: var(--color-ffffff);
  margin-left: 370px;
}
/*  Header part end */

/* Footer part */


/* footer first part start */
footer{
  background-color: var(--color-232f3e);
}
.footer-top-data {
  margin: auto;
}
.footer-top-data .footer-top-icons{
  font-size: 30px;
  color: var(--color-16bcdc);
}
.footer-top-data p{
    font-size: 12px;
    font-weight: 700;
}
.footer-top-data span{
  font-size: 12px;
  font-weight: 100;
  color: var(--color-7c9cc8);
}
/* footer first part end */


/* footer second part start */
.footer-middle-data h4{
    font-size: 15px;
    font-weight: 600;
}
.footer-middle-data p{
  color: var(--color-7c9cc8);
  font-size: 12px;
}
.footer-middle-data .App-store{
  display: flex;
  border: 1px solid var(--color-7c9cc8);
  border-radius: 2%;
  height: 38px;
}
.footer-middle-data .App-store .app-icons{
  font-size: 25px;
}
.footer-middle-data .App-store .appBorderRight{
  border-right: 1px solid var(--color-7c9cc8);
  margin-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-middle-data .App-store p{
  font-size: 8px;
  margin-left: -18px;
  margin-top: 5px;
  margin-right: 5px;
}
.footer-middle-data .App-store span{
  font-size: 11px;
  font-weight: 600;
  color: var(--color-ffffff);
}
.footer-middle-data .app{
  display: flex;
  justify-content: space-between;
}
.footer-middle-data .social-media div{
  width: 40px;
  height: 40px;
  border-radius: 5%;
}
.footer-middle-data .social-media .social-media-icons {
 margin-left: 12px;
 margin-top: 12px;
}

/* footer second part end */

/* footer part end */



/* UI Start */
      /* DropdownButtonLanguage */
.dropdown select {
  background-color: var(--color-131921);
  border: none;
  color: var(--color-ffffff);
  padding: 0px;
  font-size: 10px;
  cursor: pointer;
}
.dropdown select::-ms-expand {
  display: none;
}
.dropdown select:focus {
  outline: none;
  border-color: #f5f5f5;
}
.dropdown select option {
  background-color: #fff;
  color: #333;
} 
/* DropdownMenuButton */
.dropdown1 select{
  width:150px;
  height: 39.5px;
  margin-right: -140px;
  z-index: 1;
  padding-left: 5px;
  border: none;
  background-color: var(--color-e9e9ed);
}
input[type="text"] {
  width: 450px;
  height: 40px;
  padding: 8px 150px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 0%;
  font-size: 12px;
}
.dropdown1:hover{
  display: block;
}
.dropdown1 span{
  width: 35px;
  height: 30px;
  margin-left: -38px;
  border: none;
}
.search{
  margin-left: -8px;
  margin-top: -10px;
  color: var(--color-ffffff);
}

/* UI End */

